body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    transition: background-color 0.3s ease, color 0.3s ease;
    color: black;
}

.title {
    text-align: center;
    margin-top: 20px;
}

.title h1 {
    font-size: 36px;
    color: black;
    margin-bottom: 20px;
    font-weight: bold;
    transition: color 0.3s ease;
}

.mode-toggle {
    position: absolute;
    top: 20px;
    right: 20px;
    z-index: 100;
    font-size: 24px;
    cursor: pointer;
}

.podium {
    display: flex;
    justify-content: space-around;
    padding: 20px;
    flex-wrap: wrap;
}

.podium-item {
    width: 30%;
    height: 300px;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    position: relative;
    cursor: pointer;
    border-radius: 10px;
    background-size: cover;
    background-position: center;
    padding: 20px;
    text-align: center;
    margin-bottom: 20px;
    margin-top: 20px;
    transition: transform 0.3s ease;
}

.podium-item .cryptocurrency-name {
    margin-top: 60px;
}

.podium-item:hover {
    transform: scale(1.1);
}

.podium-item.gold {
    background-color: aqua;
}

.podium-item.silver {
    background-color: aqua;
}

.podium-item.bronze {
    background-color: aqua;
}

.summary {
    margin-top: 10px;
    padding: 10px;
    background-color: black;
    border-radius: 5px;
    width: 90%;
    margin: 0 auto;
    text-align: left;
    display: none;
}

/* back mode style */
body.black-and-white {
    background-color: black;
    color: white;
    transition: background-color 0.6s ease, color 0.6s ease;
}

.podium-item.black-and-white {
    background-color: #444;
    color: white;
}

/* rank style */
.rank {
    font-size: 24px;
    font-weight: bold;
    position: absolute;
    top: 10px;
    left: 50%;
    transform: translateX(-50%);
    color: #fff;
}

/* rank color  */
.podium-item.gold .rank {
    color: white;
}

.podium-item.silver .rank {
    color: white;
}

.podium-item.bronze .rank {
    color: white;
}

.mode-toggle button {
    background-color: aqua;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px 15px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.mode-toggle button:hover {
    background-color: rgb(149, 223, 223);
}

.cryptocurrency-name {
    font-size: 20px;
    font-weight: bold;
    color: black;
}

/* black mode style */
body.black-and-white .cryptocurrency-name {
    color: beige;
}

/* handling title based on the mode */
.title h1 {
    font-size: 36px;
    margin-bottom: 20px;
    font-weight: bold;
    color: black;
    transition: color 0.3s ease;
}

body.black-and-white .title h1 {
    color: beige;
}
/* separator style */
.separator {
    border: none;
    height: 5px;
    background-color: #ccc;
    margin: 50px 0;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}

.charts-section {
    text-align: center;
    margin-top: 40px;

}

.charts-section canvas {
    width: 100% !important;
    height: 400px !important;
    max-width: 600px;
    margin: 20px auto;
}

.hidden {
    opacity: 0;
    transform: translateY(50px);
    transition: opacity 0.5s, transform 0.5s;
}

.show {
    opacity: 1;
    transform: translateY(0);
}

